:root {
	--main-color: #ffffff;
	--secondary-color: #161f49;
	--main-color-text: #404040;
	--main-color-btn: #2468ff;
}
body {
	width: 1470px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: var(--main-color-text);

	background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin-top: 0;
	margin-bottom: 0;
}
ul {
	padding-left: 0;
	list-style: none;
}
a {
	text-decoration: none;
	display: block;
	color: currentColor;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

.btn {
	color: var(--main-color);
	background-color: var(--main-color-btn);

	border: none;
}

/* Header */
.header {
}
.header-wrap-text {
	padding: 5px 0;

	background-color: var(--secondary-color);
}
.header-text {
	font-size: 14px;
	line-height: 1.64;
	text-align: center;
	letter-spacing: 0.11px;

	color: #ffffff;
}
.header-wrap {
	padding-left: 36px;

	display: flex;
	align-items: center;
}
.header-logo {
	margin-right: 195px;
}
.header-list {
	display: flex;
	gap: 37px;
}
.header-item > a {
	line-height: calc(25 / 18);
	letter-spacing: 0.11px;
	color: currentColor;
}
.header-btn {
	margin-left: auto;
	padding: 27px 64px;

	font-family: inherit;
	font-size: 14px;
	line-height: calc(25 / 14);
	text-align: center;
	letter-spacing: 0.11px;
	text-transform: uppercase;
}

