:root {
  --main-color: #ffffff;
  --secondary-color: #161f49;
  --main-color-text: #404040;
  --main-color-btn: #2468ff;
  --secondary-color-bg: rgba(0, 0, 0, 0.5);
  --treriary-color-bg: #070e16;
}
body {
  width: 1470px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--main-color-text);

  background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  color: var(--main-color);
  background-color: var(--main-color-btn);

  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header-wrap-text {
  padding: 5px 0;

  background-color: var(--secondary-color);
}
.header-text {
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  letter-spacing: 0.11px;

  color: #ffffff;
}
.header-wrap {
  padding-left: 36px;

  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 195px;
}

.header-list {
  display: flex;
  gap: 37px;
}
.header-item > a {
  line-height: calc(25 / 18);
  letter-spacing: 0.11px;
  color: currentColor;
}
.header-btn {
  margin-left: auto;
  padding: 27px 64px;

  font-family: inherit;
  font-size: 14px;
  line-height: calc(25 / 14);
  text-align: center;
  letter-spacing: 0.11px;
  text-transform: uppercase;
}

/* Hero */

.hero {
  position: relative;

  padding-top: 120px;
  padding-bottom: 367px;
  text-align: center;

  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-color: var(--secondary-color-bg);
}

.hero-title {
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 72px;
  line-height: 1.11;

  color: var(--main-color);
}
.hero-text {
  margin-bottom: 16px;

  font-size: 21px;
  line-height: 1.38;

  color: var(--main-color);
}

.hero-btn {
  padding: 18px 36px 17px;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.96;
  letter-spacing: 0.11px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: transparent;

  border: 1px solid #ffffff;
  border-radius: 0px;
  cursor: pointer;
}

.hero::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 576px;
  height: 324px;

  transform: translate(-50%, 44px);

  background-image: url(../images/device-hero.png);
}

/* Amazon */

.amazon-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 110px;
  padding-bottom: 116px;

  text-align: center;
}

.amazon-text {
  margin-bottom: 21px;
  line-height: 1.15;
}
.amazon-icon {
  margin-bottom: 27px;
}

.btn-link {
  position: relative;

  padding: 0 3px 5px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;

  text-transform: uppercase;

  color: #404040;

  background-color: transparent;
  border: none;
}

.btn-link:after {
  display: block;
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;
  width: 78px;
  height: 1px;

  background: #404040;
}

/* More wifi for the devices */

.wi-fi-section {
  text-align: center;
}

.wi-fi-wrap {
  margin: 0 auto;
  width: 736px;
}

.wi-fi-title {
  margin-bottom: 44px;

  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}

.wi-fi-text {
  margin-bottom: 78px;
  line-height: 1.4;
}

.btn-primary {
  padding: 18px 36px;
  font-family: inherit;

  font-size: 14px;
  line-height: 1;

  letter-spacing: 0.11px;
  text-transform: uppercase;

  background-color: var(--main-color-btn);
  color: var(--main-color);

  border: none;
  cursor: pointer;
}

.wi-fi-img {
  margin: 0 auto;
}

/* Products */
.products-section {
  padding: 580px 88px 80px 188px;

  background-image: url(../images/products.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--treriary-color-bg);

  color: var(--main-color);
}

.products-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 89px;
}

.products-sup-text {
  display: inline-block;
  padding: 0 13px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-transform: uppercase;

  background-color: var(--main-color);
  color: #000000;

  border-radius: 18px;
}

.products-title {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.22;
}

.products-sub-text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 42px;
  line-height: 1.14;
}

.products-sub-sub-text {
  margin-bottom: 33px;

  width: 400px;

  line-height: 1.4;
}

.products-price {
  font-weight: 700;
  line-height: 1.4;
}

.products-section .btn-primary {
  padding: 19px 71px;
}

.products-section .btn-link {
  display: block;
  margin: 0 auto;
  color: var(--main-color);
}

.products-section .btn-link::after {
  width: 154px;
  background-color: var(--main-color);
}
