@import './base/reset';
@import './utils/var';
@import './base/base';

@import './components/header';
@import './components/hero';
@import './components/amazon';
@import './components/wi-fi';
@import './components/product';
@import './components/quote';
@import './components/slider';
@import './components/password';

@import './components/home';
@import './components/truemesh';
@import './components/info';
