.amazon-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 110px;
  padding-bottom: 116px;

  text-align: center;
}

.amazon-text {
  margin-bottom: 21px;
  line-height: 1.15;
}
.amazon-icon {
  margin-bottom: 27px;
}
