.amazon-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 116px;
  
    text-align: center;
  }
  
  .amazon-text {
    margin-bottom: 21px;
    line-height: 1.15;
  }
  .amazon-icon {
    margin-bottom: 27px;
  }
  
  .btn-link {
    position: relative;
  
    padding: 0 3px 5px;
  
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.15;
  
    text-transform: uppercase;
  
    color: #404040;
  
    background-color: transparent;
    border: none;
  }
  
  .btn-link:after {
    display: block;
    content: '';
  
    position: absolute;
    left: 0;
    bottom: 0;
    width: 78px;
    height: 1px;
  
    background: #404040;
  }