.quote{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 205px;
    background-color: var(--main-color-text);

    &__title {
margin-bottom: 49px;
    }
}

.quote__title {
    width: 823px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.14;
    text-align: center;
    color: #FFFFFF;
}





