.truemesh {
  padding: 117px 0 124px;
  background-color: var(--secondary-color);
}

.truemesh__title {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;

  text-align: center;

  color: var(--main-color);
}

.truemesh__text {
  margin: 0 auto;
  margin-bottom: 38px;
  width: 710px;
  line-height: 1.4;
  color: var(--main-color);
}

.truemesh__img {
  margin: 0 auto;
}
