.wi-fi-section {
  text-align: center;
}

.wi-fi-wrap {
  margin: 0 auto;
  width: 736px;
}

.wi-fi-title {
  margin-bottom: 44px;

  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}

.wi-fi-text {
  margin-bottom: 78px;
  line-height: 1.4;
}

.wi-fi-img {
  margin: 0 auto;
}
