body {
  width: 1470px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--main-color-text);

  background-color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  color: var(--main-color);
  background-color: var(--main-color-btn);

  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-primary {
  padding: 18px 36px;
  font-family: inherit;

  font-size: 14px;
  line-height: 1;

  letter-spacing: 0.11px;
  text-transform: uppercase;

  background-color: var(--main-color-btn);
  color: var(--main-color);

  border: none;
  cursor: pointer;
}

.btn-link {
  position: relative;

  padding: 0 3px 5px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;

  text-transform: uppercase;

  color: #404040;

  background-color: transparent;
  border: none;
}

.btn-link:after {
  display: block;
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;

  background: #404040;
}
