body {
    width: 1470px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--main-color-text);
  
    background-color: var(--main-color);
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
.btn {
    color: var(--main-color);
    background-color: var(--main-color-btn);
  
    border: none;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

 