:root {
  --main-color: #ffffff;
  --secondary-color: #161f49;
  --main-color-text: #404040;
  --main-color-btn: #2468ff;
  --secondary-color-bg: rgba(0, 0, 0, 0.5);
  --treriary-color-bg: #070e16;
  --dark-color: #000;
  --accent-color-btn: #0149e6;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
